<div class="mb-3 row">
  <span *ngIf="isLoading" class="col col-form-label">Loading...</span>
</div>

<form [formGroup]="studentForm">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Turma</th>
        <th scope="col">Nome</th>
        <th scope="col">Responsável</th>
        <th scope="col">Telefone</th>
        <th scope="col">Endereço</th>
        <th class="d-flex justify-content-around" scope="col">
          <span class="align-self-end">Ações</span>
          <button type="button" class="btn btn-link pb-0">
            <img src="../../../assets/add-icon.svg" (click)="addStudent()">
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (student of students; track student.id; let i = $index) {
        <tr *ngIf="!student?.changeValues">
          <th scope="row">{{ classRoomName }}</th>
          <td>
            {{student.name}}
          </td>
          <td>{{student.guardian}}</td>
          <td>
              {{student.phone}}
          </td>
          <td>
            {{student.address}}
        </td>
          <td>
            <div class="d-flex justify-content-around">
              <img src="../../../assets/edit-icon.svg" (click)="setEditMode(i, student)">
              <img src="../../../assets/delete-button.svg">
            </div>
          </td>
        </tr>

        <tr *ngIf="student?.changeValues">
          <th scope="row">{{ classRoomName }}</th>
          <td>
              <input class="form-control"  type="text"  formControlName="name">
          </td>
          <td>
            <input class="form-control" type="text"  formControlName="guardian">
          </td>
          <td>
              <input class="form-control" type="text"  formControlName="phone">
          </td>
          <td>
            <input class="form-control" type="text"  formControlName="address">
        </td>
          <td class="align-content-center">
            <div class="d-flex justify-content-around">
              <img src="../../../assets/success-alert-icon.svg" (click)="save(i)">
              <img src="../../../assets/close-icon.svg" (click)="resetChangeValues(i)">
            </div>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" style="text-align: center">No schools found</td>
        </tr>
      }
    </tbody>
  </table>
</form>


<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="totalPages" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshStudent()">
  </ngb-pagination>
</div>
